<h1>EDIT WORD</h1>
<%= render "entry_form", entry: @entry %>
<%= link_to "DELETE", entry_url(@entry), method: :delete, data: {confirm: "Are you sure you want to delete '#{@entry.word.capitalize}'? This cannot be undone!"} %></p>
